{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prime Video Clone</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="{% static '/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
                <!-- Brand -->
                <a class = "navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'PrimeLogo.png' %}" alt="Prime Video " />
                </a>
                <!-- Links -->
                <ul class="navbar-nav">
                    
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'Accounts:profile' %}">Profile</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'Help:help_home' %}">Help</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <form class="form-inline float-right" action="/action_page.php">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-success" type="submit">Search</button>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Accounts:logout' %}">Logoutttt</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Accounts:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Accounts:signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
              </nav>
        <!-- <div class="container" style="width: 100%;"> -->
            {% block content %}
            {% endblock %}
        <!-- </div> -->
    </body>
</html>


