{% extends 'base_layout.html' %}

{% block content %}
<div class="HomeBackground1" style="width:99% ; height:660px">
	<div class="row" style="padding:5% 0% 0% 5% ;"> <!-- top right bottom left -->
	    <div class='col-4 text-white'>
	    	<div class="row " style="padding:5%;">
				<h1>Welcome to Prime Video </h1>    	
			</div>
	    	<div class="row" style="padding:5%;">
				<p>Join Prime to watch the latest movies, exclusive TV shows as well as award-winning Amazon Originals.
				</p>
	    	</div>
	    	<div class="row" style="padding:5%;">
	 		<p>
	 			Start your 30-day free trial <br>
				With any credit card or select debit cards 
			</p>
	    	</div>
	    	<div class="row" style="padding:5%;">
	    		<p>
	    		 	Join Prime at ₹129 per month <br>
	    			With any credit card or select debit cards 
	    		</p>
	    	</div>
	    </div>
	</div>
</div>
<div class="HomeBackground2" style="width:99% ; height:660px">
	<div class="row" style="padding-top: 5%;">
		<div class="col-7">
		</div>
		<div class="col-4">
			<div class="row" style="padding-top: 10%;">
					<h1 class="text-center text-white"> Get ₹500 cashback on 1-year prime membership of ₹999 </h1>
			</div>
			<div class="row" style="padding-top: 10%;">
					<h3 class="text-center text-white"> To be eligible for the offer, you must be between 18-24 years old.<br><br>
					<button class="btn btn-success text-center "> Know more</button>
					</h3>
			</div>
		</div>
	</div>
</div>
<div class="HomeBackground3" style="width:99% ; height:660px">
	<div class="row">
		<div class="col-5">
			<div class="row" style="padding-top: 10%; padding-left: 10%;">
					<h1 class="text-center text-white">One membership, Many benefits</h1>
			</div>
			<div class="row" style="padding-top: 10%; padding-left: 10%;">
						<h3 class="text-center text-white">  Your Prime membership now also includes ad-free music along with unlimited free, fast delivery on eligible items, exclusive access to deals & more. 
								<br>
								<br>
								<button class="btn btn-success text-center "> Get Started</button>
					</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}	
