{% extends 'base_layout.html' %}

{% block content %}
<div class="HomeBackground" style="width:99% ; height:660px">
	<div class="row" style="padding:5% 0% 0% 5% ;"> <!-- top right bottom left -->
	    <div class='col-4 text-white'>
	    	<div class="row " style="padding:5%;">
				<h1>Welcome to Prime Video </h1>    	
			</div>
	    	<div class="row" style="padding:5%;">
				<p>Join Prime to watch the latest movies, exclusive TV shows as well as award-winning Amazon Originals.
				</p>
	    	</div>
	    	<div class="row" style="padding:5%;">
	 		<p>
	 			Start your 30-day free trial <br>
				With any credit card or select debit cards 
			</p>
	    	</div>
	    	<div class="row" style="padding:5%;">
	    		<p>
	    		 	Join Prime at ₹129 per month <br>
	    			With any credit card or select debit cards 
	    		</p>
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}	
